.block-hc-header {
  position: relative;
  height: 305px;
}

.block-hc-header .block-inner {
  margin: 0;
}

.block-hc-header .header-content {
  width: 50%;
  position: absolute;
  top: 0;
}

.block-hc-header .header-content.right {
  margin-left: 48%;
} 

.block-hc-header .header-content.left {
  margin-left: 10%;
}

.block-hc-header .header-icon {
  position: absolute;
  bottom: -30px;
  left: 50%;
}