.block-hc-header {
  position: relative;
  height: 305px;
}

.block-hc-header .block-inner {
  margin: 0;
}

.block-hc-header .header-content {
  width: 45%;
  position: absolute;
  top: 25px;
}

.block-hc-header .header-content.right {
  margin-left: 48%;
} 

.block-hc-header .header-content.left {
  margin-left: 75px;
}

.block-hc-header .header-icon {
  position: absolute;
  bottom: -30px;
  left: 50%;
}

.block-hc-header .header-content.wit, 
.block-hc-header .header-content.wit a,
.block-hc-header .header-content.wit h1 {
  color: white;
}

.block-hc-header .header-content.donkergrijs, 
.block-hc-header .header-content.donkergrijs a,
.block-hc-header .header-content.donkergrijs h1 {
  color: #555555;
}